<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edu.tcms.mapper.UserMapper">
    <resultMap id="user" type="org.edu.tcms.domain.User">
    </resultMap>

    <select id="queryAll" resultMap="user">
        select * from tcms_user
        <if test="account != null">
            where account like concat("%", #{account},"%")
        </if>
    </select>

    <select id="queryByAccount" resultMap="user">
        select * from tcms_user where account = #{account}
    </select>

    <insert id="createNew" parameterType="org.edu.tcms.domain.User">
        insert into tcms_user(user_id, account, user_name, password, title, phone_num, email, deleted, create_time)
        values(#{userId}, #{account}, #{userName}, #{password}, #{title}, #{phoneNum}, #{email}, #{deleted}, #{createTime})
    </insert>

    <select id="queryByIds" resultMap="user">
        select user_id, account, user_name, password, title, phone_num, email, deleted, create_time
        from tcms_user
        where user_id IN
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

</mapper>